.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, var(--color0), var(--color1));
}

.centeredContainer {
    justify-content: center;
    align-items: center;
}

.main .w60 {
    position: relative;
    max-width: 60%;
}

.main input {
    width: 100%;
    padding-right: 30px;
    background: transparent;
    color: #fff6;
}

.main input::placeholder {
    color: #fff3;
}

.main button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    text-decoration: none;
    color: #fff8;
    background: transparent;
    font-size: 1.2rem;
    transition: 0.5s;
}

.main button:hover {
    border-radius: 50%;
    box-shadow: 2px 2px 10px #0006, -2px -2px 10px #fff3;
}

.loading {
    width: 7ch;
    animation: blink 2s infinite;
}

@keyframes blink {
    0%,
    100% {
        color: #fff9;
    }

    50% {
        color: #fff3;
    }
}

.loading:after {
    content: '';
    animation: loadingAnim 2s infinite;
}

@keyframes loadingAnim {

    0%,
    100% {
        content: "";
    }

    16.6%,
    83% {
        content: ".";
    }

    33.2%,
    66.4% {
        content: "..";
    }

    49.8% {
        content: "...";
    }
}