:root {
    --color0: #434353;
    --color1: #435363;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -ms-touch-select: none;
    -webkit-tap-highlight-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    transition: 0.2s;
}

.montain {
    box-shadow: 2px 2px 10px #0006, -2px -2px 10px #fff3;
}

.valley {
    box-shadow: inset 2px 2px 8px #0008, inset -2px -2px 5px #fff5;
}